.registrationMasterDiv {
    width: 70%;
    background: #FFF;
    padding-bottom: 40px;
    margin: 80px auto;
    position: relative;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .mat-form-field
  {
    position: relative;
    text-align: left;
    display: block;
  }
  .error{
    text-align: left;
  }
  .btn{
    margin-right:2%;
}
.registered{
  margin-left: 28%;
  font-family: initial;
  
}