<form class="pageBox" [formGroup]="updateStatusForm" style="padding-top:60px" novalidate>
  <div class="container-fluid">
      <a [routerLink]="['/details']">  <mat-icon>arrow_back</mat-icon></a>
    <h1  class="text-center"> Booking Status</h1>
    <div class="row">
      <div class="col-md-12  mx-auto">

        <div class="row">

          <div class="col-md-2 form-group">
            <p style="padding-left:20px">Booking ID </p>
          </div>
          <div class="col-md-2  form-group">
            <p style="padding-left:20px">Mobile number </p>
          </div>
          <div class="col-md-2  form-group">
            <p style="padding-left:20px">Booking Date </p>
          </div>
         
          <div  *ngIf ="confirmed" class="col-md-2  form-group">
            <p style="padding-left:20px">Update Status</p>
          </div>

          <div *ngIf="!hide" class="col-md-3  form-group">
            <p style="padding-left:20px">Update Booking status</p>
          </div>

        </div>
        <div class="row" *ngFor="let data of toshow">
          <div class="col-md-2  form-group">
            <b>
              <p>{{data.bookingOrderId}} </p>
            </b>
          </div>

          <div class="col-md-2  form-group">
            <p>{{data.mobileNumber}} </p>
          </div>
          <div class="col-md-2 form-group">
            <p>{{data.bookingDate}} </p>
          </div>

          <div   class="col-md-2  form-group">
            <button class="btn btn-success pull-right btn-sm" (click)="statusView(data.mobileNumber,data._id)">Update</button>
          </div>
         
        </div>
       <!--  <div  class="confirmed col-md-6" *ngIf ="confirmed">
            <p>Booking order has been confirmed</p>
        </div>
        <div  class="cancelled col-md-6" *ngIf ="cancelled">
            <p>Booking order has been cancelled</p>
        </div> -->

        <div    class="text-center">
            <h1 class="text-center">Order status</h1>
          <div class="row ">
            <div class="col-md-4">
              <p> Material Picked Up</p>
            </div>
            <div class="col-md-2" *ngIf="materialPicked">
              <label>Not completed</label>
            </div>
            <div class="col-md-2" *ngIf="materialPickedTrue">
              <label> completed</label>
            </div>
            <div class="col-md-2" *ngIf="materialPickedProgress">
                <label> Progress</label>
              </div>
              <div *ngFor="let data of toshow"  style="margin-right: 50px">
                  <button class="btn btn-danger pull-right" (click)="notCompMaterialPick(updateStatusForm,data.mobileNumber,data._id,data.bookingOrderId)">
                     Not Completed</button>
                </div>
            <div *ngFor="let data of toshow" style="margin-right: 50px">
                <button class="btn btn-info pull-right" (click)="progressMateialPick(updateStatusForm,data.mobileNumber,data._id,data.bookingOrderId)">
                Progress</button>
              </div>
              <div *ngFor="let data of toshow" style="margin-bottom: 10px">
                  <button class="btn btn-success pull-right" (click)="updateMateialPick(updateStatusForm,data.mobileNumber,data._id,data.bookingOrderId)">
                      <mat-icon>notifications_active</mat-icon>  Completed</button>
                </div>
               
          </div>

          <div class="row">
            <div class="col-md-4">
              <p>Shoot Completed </p>
            </div>
            <div class="col-md-2" *ngIf="shootCompleted">
              <label>Not completed</label>
            </div>
            <div class="col-md-2" *ngIf="shootCompletedTrue">
              <label> completed</label>
            </div>
            <div class="col-md-2" *ngIf="shootCompletedProgress">
                <label> Progress</label>
              </div>
              <div *ngFor="let data of toshow" style="margin-right: 50px" >
                  <button class="btn btn-danger pull-right" (click)="notCompShooting(updateStatusForm,data.mobileNumber,data._id,data.bookingOrderId)">
                    Not Completed</button>
                </div>
            <div *ngFor="let data of toshow" style="margin-right: 50px">
                <button class="btn btn-info pull-right" (click)="progressShooting(updateStatusForm,data.mobileNumber,data._id,data.bookingOrderId)">
                  Progress</button>
              </div>
              <div *ngFor="let data of toshow" style="margin-bottom: 10px">
                  <button class="btn btn-success pull-right" (click)="updateShooting(updateStatusForm,data.mobileNumber,data._id,data.bookingOrderId)">
                      <mat-icon>notifications_active</mat-icon> Completed</button>
                </div>
               
          </div>

          <div class="row">
            <div class="col-md-4">
              <p>Image Editing</p>
            </div>
            <div class="col-md-2" *ngIf="imageEditing">
              <label>Not completed</label>
            </div>

            <div class="col-md-2" *ngIf="imageEditingTrue">
              <label> completed</label>
            </div>
            <div class="col-md-2" *ngIf="imageEditingProgress">
                <label> Progress</label>
              </div>
              <div  *ngFor="let data of toshow" style="margin-right: 50px" >
                  <button class="btn btn-danger pull-right" (click)="notCompImagedEditing(updateStatusForm,data.mobileNumber,data._id,data.bookingOrderId)">
                  Not Completed</button>
                </div>
            <div  *ngFor="let data of toshow"  style="margin-right: 50px">
                <button class="btn btn-info pull-right" (click)="progressImagedEditing(updateStatusForm,data.mobileNumber,data._id,data.bookingOrderId)">
                Progress</button>
              </div>
              <div  *ngFor="let data of toshow" style="margin-bottom: 10px">
                  <button class="btn btn-success pull-right" (click)="updateImagedEditing(updateStatusForm,data.mobileNumber,data._id,data.bookingOrderId)">
                      <mat-icon>notifications_active</mat-icon> Completed</button>
                </div>
                
          </div>

          <div class="row">
            <div class="col-md-4">
              <p> QC & Image Delivery</p>
            </div>
            <div class="col-md-2" *ngIf="delivery">
              <label>Not completed</label>
            </div>

            <div class="col-md-2" *ngIf="deliveryTrue">
              <label> completed</label>
            </div>
            <div class="col-md-2" *ngIf="deliveryProgress">
                <label> Progress</label>
              </div>
              <div *ngFor="let data of toshow" style="margin-right: 50px">
                  <button class="btn btn-danger pull-right" (click)="notCompDelivery(updateStatusForm,data.mobileNumber,data._id,data.bookingOrderId)">
                      Not Completed</button>
                </div>
            <div *ngFor="let data of toshow" style="margin-right: 50px">
                <button class="btn btn-info pull-right" (click)="progressDelivery(updateStatusForm,data.mobileNumber,data._id,data.bookingOrderId)">
                Progress</button>
              </div>
  
            <div *ngFor="let data of toshow" style="margin-bottom: 10px" >
              <button class="btn btn-success pull-right" (click)="updateDelivery(updateStatusForm,data.mobileNumber,data._id,data.bookingOrderId)">
                  <mat-icon>notifications_active</mat-icon>  Completed</button>
            </div>
           
          </div>
          <div class="row">
            <div class="col-md-4">
              <p>Payment</p>
            </div>
            <div class="col-md-2" *ngIf="payment">
              <label>Not completed</label>
            </div>

            <div class="col-md-2" *ngIf="paymentTrue">
              <label> completed</label>
            </div>
            <div class="col-md-2" *ngIf="paymentProgress">
                <label> Progress</label>
              </div>
              <div  *ngFor="let data of toshow" style="margin-right: 50px">
                  <button class="btn btn-danger pull-right" (click)="notCompPayment(updateStatusForm,data.mobileNumber,data._id,data.bookingOrderId)">
                    Not  Completed</button>
                </div>
            <div  *ngFor="let data of toshow"  style="margin-right: 50px">
                <button class="btn btn-info pull-right" (click)="progressPayment(updateStatusForm,data.mobileNumber,data._id,data.bookingOrderId)">
                Progress</button>
              </div>
            <div  *ngFor="let data of toshow"  style="margin-bottom: 20px">
              <button class="btn btn-success pull-right" (click)="updatePayment(updateStatusForm,data.mobileNumber,data._id,data.bookingOrderId)">
                  <mat-icon>notifications_active</mat-icon>   Completed</button>
            </div>
           
          </div>
          <div class="row">
            <div class="col-md-4">
              <p>MaterialReturn</p>
            </div>
            <div class="col-md-2" *ngIf="materialReturn">
              <label>Not completed</label>
            </div>

            <div class="col-md-2" *ngIf="materialReturnTrue">
              <label> Completed</label>
            </div>
            <div class="col-md-2" *ngIf="materialReturnProgress">
                <label> Progress</label>
              </div>
              <div  *ngFor="let data of toshow" style="margin-right: 50px" >
                  <button class="btn btn-danger pull-right" (click)="notCompMaterialReturn(updateStatusForm,data.mobileNumber,data._id,data.bookingOrderId)">
                   Not Completed</button>
    
                </div>
            <div  *ngFor="let data of toshow" style="margin-right: 50px">
                <button class="btn btn-info pull-right" (click)="progressMaterialReturn(updateStatusForm,data.mobileNumber,data._id,data.bookingOrderId)">
                Progress</button>
              </div>
            <div  *ngFor="let data of toshow" style="margin-bottom: 10px" >
              <button class="btn btn-success pull-right" (click)="updateMaterialReturn(updateStatusForm,data.mobileNumber,data._id,data.bookingOrderId)">
                  <mat-icon>notifications_active</mat-icon>   Completed</button>
            </div>
           
          </div>
         


        </div>

       <!-- <div  class="text-center">
          <h1 class="text-center">Update the status</h1>
          <div class="row">
            <div class="col-md-2">
              <p> Material Picked Up</p>
            </div>
            <div *ngFor="let data of toshow" style="margin-right: 50px">
              <button class="btn btn-info pull-right" (click)="progressMateialPick(updateStatusForm,data.mobileNumber,data._id,data.bookingOrderId)">
              Progress</button>
            </div>

            <div *ngFor="let data of toshow">
              <button class="btn btn-success pull-right" (click)="updateMateialPick(updateStatusForm,data.mobileNumber,data._id,data.bookingOrderId)">
                  Completed</button>
            </div>

          </div>

          <div class="row">
            <div class="col-md-2">
              <p> Shooting</p>
            </div>
            <div *ngFor="let data of toshow" style="margin-right: 50px">
              <button class="btn btn-info pull-right" (click)="progressShooting(updateStatusForm,data.mobileNumber,data._id,data.bookingOrderId)">
                Progress</button>
            </div>
            <div *ngFor="let data of toshow">
              <button class="btn btn-success pull-right" (click)="updateShooting(updateStatusForm,data.mobileNumber,data._id,data.bookingOrderId)">
                Completed</button>
            </div>

          </div>
          <div class="row">
            <div class="col-md-2">
              <p> Image Editing</p>
            </div>
            <div  *ngFor="let data of toshow"  style="margin-right: 50px">
                <button class="btn btn-info pull-right" (click)="progressImagedEditing(updateStatusForm,data.mobileNumber,data._id,data.bookingOrderId)">
                Progress</button>
              </div>
            <div  *ngFor="let data of toshow">
              <button class="btn btn-success pull-right" (click)="updateImagedEditing(updateStatusForm,data.mobileNumber,data._id,data.bookingOrderId)">
                  Completed</button>
            </div>

          </div>
          <div class="row">
            <div class="col-md-2">
              <p> QC & Image Delivery</p>
            </div>
            <div *ngFor="let data of toshow" style="margin-right: 50px">
                <button class="btn btn-info pull-right" (click)="progressDelivery(updateStatusForm,data.mobileNumber,data._id,data.bookingOrderId)">
                Progress</button>
              </div>
  
            <div *ngFor="let data of toshow">
              <button class="btn btn-success pull-right" (click)="updateDelivery(updateStatusForm,data.mobileNumber,data._id,data.bookingOrderId)">
                  Completed</button>
            </div>

          </div>
          <div class="row">
            <div class="col-md-2">
              <p> Material return</p>
            </div>
            <div  *ngFor="let data of toshow" style="margin-right: 50px">
                <button class="btn btn-info pull-right" (click)="progressMaterialReturn(updateStatusForm,data.mobileNumber,data._id,data.bookingOrderId)">
                Progress</button>
              </div>
            <div  *ngFor="let data of toshow">
              <button class="btn btn-success pull-right" (click)="updateMaterialReturn(updateStatusForm,data.mobileNumber,data._id,data.bookingOrderId)">
                  Completed</button>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <p> Payment</p>
            </div>
            <div  *ngFor="let data of toshow"  style="margin-right: 50px">
                <button class="btn btn-info pull-right" (click)="progressPayment(updateStatusForm,data.mobileNumber,data._id,data.bookingOrderId)">
                Progress</button>
              </div>
            <div  *ngFor="let data of toshow">
              <button class="btn btn-success pull-right" (click)="updatePayment(updateStatusForm,data.mobileNumber,data._id,data.bookingOrderId)">
                  Completed</button>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</form>