<div class="container" style="padding-top:60px" *ngIf="admin">
  <div class="text-center">
      <h1>Admin </h1>
  </div>
  
  <div class="row">
    <div class="col-md-6 col-sm-12  mx-auto text-center">
      <button mat-raised-button [routerLink]="['/serviceproviderapproval']" value="" type="submit">Service Provider Management</button>
    </div>
  </div>
  <br>
 <!--  <div class="row">
    <div class="col-md-6 col-sm-12  mx-auto text-center">
      <button mat-raised-button value="" type="submit">Model Management</button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6 col-sm-12  mx-auto text-center">
      <button mat-raised-button value="" type="submit">Schedule Management</button>
    </div>
  </div> -->
  <div class="row">
    <div class="col-md-6 col-sm-12  mx-auto text-center">
      <button mat-raised-button value="" [routerLink]="['/pushNotification']" type="submit">Push Notification</button>
    </div>
  </div>
</div>

<div class="container" style="padding-top:60px" *ngIf="serviceProvider">
    <div class="text-center">
        <h1 >Service Provider</h1>
    </div>
  
  <div class="row">
    <div class="col-md-6 col-sm-12  mx-auto text-center">
      <button mat-raised-button [routerLink]="['/details']" value="" type="submit">Booking Management</button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6 col-sm-12  mx-auto text-center">
      <button mat-raised-button [routerLink]="['/models']" value="" type="submit">Model Management</button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6 col-sm-12  mx-auto text-center">
      <button mat-raised-button value=""  [routerLink]="['/customers']" type="submit">Customer Management</button>
    </div>
  </div>
  <br>
  <div class="row">
      <div class="col-md-6 col-sm-12  mx-auto text-center">
        <button mat-raised-button value="" [routerLink]="['/pushNotification']" type="submit">Push Notification</button>
      </div>
    </div>
</div>
