<form [formGroup]="mulitImageForm" style="padding-top:60px" novalidate >
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 formGroup">
          <div   class="col-md-12 formGroup space  text-center">
               Images
          </div>
         
        </div>
        <div class="col-md-3 formGroup">
          <div class="col-md-12 formGroup space" >
              <input type="file"  name="file" class="btn btnPink btn-block" id="file" multiple (change)="handleImages($event.target.files, loadedImage)">
          </div>
        </div>
        <div class="col-md-6 formGroup">
          <div class="col-md-12 formGroup " style="margin-bottom: 40px">
              <img [src]="loadedImage"  #loadedImage   style="width: 180px; height: 180px;" />
          </div>
        
          
          
          <button class="btn btn-secondary" type="submit" (click)="sendImages()">Submit</button>
        </div >
       </div>
    </div>
  </form>
<!--   <app-view-images [details]='this.details'></app-view-images> -->
