<form class="signInMasterDiv" [formGroup]="onAdminForm" (ngSubmit)="adminSubmit(onAdminForm)" novalidate style="padding-top:60px">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="form-group">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="User Name" formControlName="userName" required>
            <button mat-button  matSuffix mat-icon-button aria-label="User Name">
                <mat-icon>account_circle</mat-icon>
              </button>
            <mat-error *ngIf="onAdminForm.controls['userName'].errors?.required">
              UserName is
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <div>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Password" formControlName="password" required>
              <button mat-button  matSuffix mat-icon-button aria-label="User Name">
                  <mat-icon>remove_red_eye</mat-icon>
                </button>
              <mat-error *ngIf="onAdminForm.controls['password'].errors?.required">
                Password is
                <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <button mat-raised-button color="accent" type="submit" [disabled]='!onAdminForm.valid'>SignIn</button>
        </div>
      </div>
    </div>
  </div>
</form>
