.signInMasterDiv {
    width: 70%;
    background: #FFF;
    padding-bottom: 40px;
    margin: 80px auto;
    position: relative;
    box-shadow: 0 8px 16px 0 rgba(4, 0, 255, 0.2), 0 6px 20px 0 rgba(40, 17, 228, 0.19);
  }