<form [formGroup]="onAdminForm" (ngSubmit)="adminSubmit(onAdminForm)" novalidate style="padding-top:60px">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="form-group">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="User Name" formControlName="userName" required>
          </mat-form-field>

          <div *ngIf="onAdminForm.controls['userName'].errors
                                               && !onAdminForm.controls['userName'].pristine" class="alert alert-danger">
            <div [hidden]="!onAdminForm.controls['userName'].errors.required">Username is required.</div>
          </div>
          <div>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Password" formControlName="password" required>
            </mat-form-field>
          </div>

          <div *ngIf="onAdminForm.controls['password'].errors && !onAdminForm.controls[ 'password'].pristine" class="alert alert-danger">
            <div [hidden]="!onAdminForm.controls['password'].errors.required">Password is required.</div>

          </div>

          <button mat-raised-button color="accent"  type="submit" [disabled]='!onAdminForm.valid'>SignIn</button>


        </div>
      </div>
    </div>
  </div>
</form>
