<div class="container pt-5">
        <div class="row">
                <div class="col-md-4">
                        <img class="img-fluid" 
                         [src]="showImage">
                </div>
              </div>
<div class="form-group">
    <label for="file">Upload Banner Images</label>
    
    <input type="file" id="file" (change)="handleFileInput($event.target.files)">
    
    <button mat-raised-button  (click)="uploadBanner()" color="accent">Save</button>
  </div>
  <div class="row">
    <div class="col-md-4" *ngFor="let filePath of bannerAll" >
            <button mat-icon-button mat-sm-button color="primary"
            (click)="deleteSingleBanner(filePath)">
                 <mat-icon>clear</mat-icon>
               </button>
      <img class="img-fluid" [src]="filePath.bannerImage">
    </div>
  </div>
</div>