<form [formGroup]="viewCustomerForm" novalidate style="padding-top:60px">
  <div class="container-fluid">


    <div class="row">
      <div class="col-md-8 mx-auto">
        <div class="container-fluid">
          <h1>Customer Details</h1>

          <div class="col-md-4 mx-auto" style="margin-bottom: 10px">
            <select #select (change)="getShootType(select.value)" class="hideLabel form-control">
              <option>Please select Shoot Type </option>
              <option *ngFor="let shootType of shootTypes" [value]="shootType"> {{shootType}}</option>
            </select>
          </div>
          <div class="col-md-4 mx-auto" style="margin-bottom: 10px">
            <select #select1 (change)="getModelType(select.value,select1.value)" class="hideLabel form-control">
              <option>Please select Model Type </option>
              <option *ngFor="let modelType of modelTypes" [value]="modelType">{{modelType}}</option>
            </select>

          </div>
          <div class="col-md-4 mx-auto">
            <select #product (change)="getProduct(product.value)" class="hideLabel form-control">
              <option>Please select product Type </option>
              <option *ngFor ="let productType of productTypes" [value]="productType">{{productType}}</option>
            </select>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>
                  <h4>Customer Name</h4>
                </label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>
                  <h4>Mobile Number</h4>
                </label>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>
                  <h4>Location</h4>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row" *ngFor="let data of customerModel">

            <div class="col-md-1 form-group">
              <input type="checkbox" formControlName="customer" (change)="getValue(viewCustomerForm,data.mobileNumber,$event.target.checked)">
            </div>

            <div class="col-md-4 form-group">
              {{data.name}}
            </div>

            <div class="col-md-4 form-group">
              {{data.mobileNumber}}
            </div>

            <div class="col-md-3 form-group">
              {{data.location}}
            </div>
          </div>

        </div>
        <div>
          <button class="btn btn-secondary" type="submit" (click)="sendNumbers()">Send notification</button>
        </div>
        <div>
     
        </div>
      </div>
    </div>
  </div>
</form>