<form [formGroup]="viewScheduledDetailsForm" style="padding-top:60px" novalidate>
        <div>
          <button mat-icon-button (click)="cancel()">
            <mat-icon color="primary">clear</mat-icon>
          </button>
        </div>
        <div class="container-fluid">
          <div class="row" style="margin-left: 30px;">
            <h1>Scheduled Booking  Details</h1>
      
            <div class="col-md-12 form-group">
              <div class="row">
                <div class="col-md-12">
                  <div class="row">
      
                    <div class="col-md-3 form-group">
                      <p><b>Booking Order ID</b></p>
                    </div>
      
                   
                    <div class="col-md-3 form-group">
                      <p><b>Model  Name</b></p>
                    </div>
                    <div class="col-md-3 form-group">
                        <p><b>Product Description</b></p>
                      </div>
                      <div class="col-md-3 form-group">
                        <p><b>Quantity Description</b></p>
                      </div>
                  </div>
      
                </div>
               
      
      
                <div class="col-md-12 form-group">
                  <div class="row" *ngFor="let data of modelBooking">
      
                    <div class="col-md-3 form-group">
                      <p>{{data.bookingOrderId}} </p>
                    </div>
      
      
                    <div class="col-md-3 form-group">
                      <p>{{data.modelsName}} </p>
                    </div>
                    <div class="col-md-3 form-group">
                        <p>{{data.productDescription}} </p>
                      </div>
                      <div class="col-md-3 form-group">
                        <p>{{data.quantityDescription}} </p>
                      </div>
      
                  </div>
                </div>
               
              </div>
            </div>