<form [formGroup]="addModelForm" style="padding-top:60px" novalidate>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6  mx-auto">
        <div class="form-group">
          <div class="textContainer"   >
            <input type="text" placeholder="Model Name" class="form-control required appTextBox" required formControlName="modelName"
              #modelName/>
          </div>
        
          <div *ngIf="addModelForm.get('modelName').errors
                               && !addModelForm.get('modelName').pristine" class="alert alert-danger">
            <div [hidden]="!addModelForm.get('modelName').errors.required">Please enter Model Name</div>
          </div>
        </div>
        <div class="col-md-12">
          <label>Type of Category</label>
          <div class="col-sm-6 radio">
            <label  class="pr-2 " *ngFor="let shootType of shootTypes">
              <input  type="radio"    formControlName="shootType" [value]="shootType"><small>&nbsp;&nbsp;{{ shootType}}</small>
            </label>
          </div>
            <label >Type of Model</label>
            <div class="col-sm-6 radio">
                <label class="pr-2" *ngFor="let modelType of modelTypes">
                  <input type="radio" formControlName="modelType"  [value]="modelType"><small>&nbsp;&nbsp;{{modelType}}</small>
                </label>
              </div>
          </div>
          <!-- <div class="form-group">
          <div class="textContainer">
            <input type="text" placeholder="Model Height" class="form-control required appTextBox" required formControlName="modelHeight"
              />
          </div>
          <div *ngIf="addModelForm.get('modelHeight').errors
                               && !addModelForm.get('modelHeight').pristine" class="alert alert-danger">
            <div [hidden]="!addModelForm.get('modelHeight').errors.required">Please enter Model Height</div>
          </div>
        </div> 
        <div class="form-group">
        <div class="textContainer">
          <input type="text" placeholder="Model Measurements" class="form-control required appTextBox" required formControlName="modelMeasurements"
            />
        </div>
        <div *ngIf="addModelForm.get('modelMeasurements').errors
                             && !addModelForm.get('modelMeasurements').pristine" class="alert alert-danger">
          <div [hidden]="!addModelForm.get('modelMeasurements').errors.required">Please enter Model Measurements</div>
        </div>
        </div>

        <div class="form-group">
      <div class="textContainer">
        <input type="text" placeholder="Shoulder" class="form-control required appTextBox" required formControlName="shoulder"
          />
      </div>
      <div *ngIf="addModelForm.get('shoulder').errors
                           && !addModelForm.get('shoulder').pristine" class="alert alert-danger">
        <div [hidden]="!addModelForm.get('shoulder').errors.required">Please enter Shoulder</div>
      </div>
      </div> 

      <div class="form-group">
    <div class="textContainer">
      <input type="text" placeholder="Shoe Size" class="form-control required appTextBox" required formControlName="shoeSize"
        />
    </div>
    <div *ngIf="addModelForm.get('shoeSize').errors
                         && !addModelForm.get('shoeSize').pristine" class="alert alert-danger">
      <div [hidden]="!addModelForm.get('shoeSize').errors.required">Please enter Shoe Size</div>
    </div>
    </div> -->
    <!-- <div class="col md-12">
        <label class="pr-2 ">Model Availability</label>
        <div>
          <input type="radio" value="true"  (click)="avail($event.target.value)" formControlName="modelAvail">Yes
          <input type="radio" value="false"   (click)="avail($event.target.value)" formControlName="modelAvail" >No
        </div>
      </div> -->
        <div class="form-group">
          <div class="textContainer">
            <input type="text" placeholder="Description" class="form-control required appTextBox" required formControlName="description"
           #modelDesc />
          </div>
          <div *ngIf="addModelForm.get('description').errors
                               && !addModelForm.get('description').pristine" class="alert alert-danger">
            <div [hidden]="!addModelForm.get('description').errors.required">Please enter Description</div>
          </div>
        </div>

        
        <div class="form-group">
          <div class="textContainer">
            <input type="text" placeholder="Availability" class="form-control required appTextBox" required formControlName="availability"
            #avail/>

          </div>
          <div>Ex:1,0</div> 
          
           <div *ngIf="addModelForm.get('availability').errors
                                 && !addModelForm.get('availability').pristine" class="alert alert-danger">
            <div [hidden]="!addModelForm.get('availability').errors.required">Please enter Availability</div>
          </div> 
        </div>


        <div class="form-group">
          <div class="textContainer">
            <input type="text" placeholder="Mobile Number" class="form-control required appTextBox" required formControlName="mobileNumber"
            #mob/>

          </div>
          <div>Ex:9988776655</div>
          <div *ngIf="addModelForm.get('mobileNumber').errors
                                   && !addModelForm.get('mobileNumber').pristine" class="alert alert-danger">
            <div [hidden]="!addModelForm.get('mobileNumber').errors.required">Please enter MobileNumber</div>
          </div>
        </div>


        <div class="form-group">
          <div class="textContainer">
            <input type="text" placeholder="Email Id" class="form-control required appTextBox" required formControlName="emailId" #email/>

          </div>
          <div *ngIf="addModelForm.get('emailId').errors
                                     && !addModelForm.get('emailId').pristine" class="alert alert-danger">
            <div [hidden]="!addModelForm.get('emailId').errors.required">Please enter Email Id</div>
          </div>
        </div>

        <div class="form-group">
          <div class="textContainer">
            <input type="text" placeholder="FaceBook" class="form-control required appTextBox" required formControlName="faceBook" #fb />

          </div>
          <div *ngIf="addModelForm.get('faceBook').errors
                                       && !addModelForm.get('faceBook').pristine" class="alert alert-danger">
            <div [hidden]="!addModelForm.get('faceBook').errors.required">Please enter FaceBook</div>
          </div>
        </div>

        <div class="form-group">
          <div class="textContainer">
            <input type="text" placeholder="WhatsApp" class="form-control required appTextBox" required formControlName="whatsapp" #wapp/>

          </div>
          <div *ngIf="addModelForm.get('whatsapp').errors
                                       && !addModelForm.get('whatsapp').pristine" class="alert alert-danger">
            <div [hidden]="!addModelForm.get('whatsapp').errors.required">Please enter WhatsApp No</div>
          </div>
        </div>


        <div *ngIf="!showUpdate">
          <input type="submit" class="btn btnPink btn-block" value="Save" (click)="save(addModelForm,modelName.value)" />
        </div>
        
        <input type="text"  placeholder="Catalog Id" hidden class="form-control required appTextBox"  formControlName="modelId"
          #id/>
        <div *ngIf="showUpdate">
          <input type="submit" class="btn btnPink btn-block" value="Update" (click)="edit(addModelForm,modelName.value,modelDesc.value,id.value,
          avail.value,mob.value,email.value,fb.value,wapp.value)" />
        </div>
      </div>
      <div class="col-md-3 form-group"  *ngIf="!hideImg">
        <div>
          <img [src]="this.loadedModel?.portfolioImageName"  #loadedImage style="width: 180px; height: 245px;" />
        </div>
        <div>
          <input type="file"  name="file" class="btn btnPink btn-block" id="file" multiple (change)="handleFileInput($event.target.files, loadedImage)">
        </div>
      </div>
     <!--  <div class="col-md-3 form-group">
        <div>
          <img  *ngFor ="let images of multipleImages" [src]="images"  style="width: 180px; height: 245px;" />
        </div>
        <div>
          <input type='file' (change)="onSelectFile($event.target.files)" multiple>
        </div>
      </div> -->
    </div>
  </div>
</form>