<form [formGroup]="addModelForm" style="padding-top:60px" novalidate>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6  mx-auto">
        <div class="form-group">
            <div *ngIf="showUpdate">
                <h2 class="text-center">Edit Model Details</h2>
              </div>  
              <div *ngIf="!showUpdate">
                  <h2 class="text-center">Add Model Details</h2>
                </div> 
           
        <div *ngIf="showUpdate">
          <h4 >Model Name: {{loadedModelName}}</h4>
        </div>
          <div class="textContainer" >
            <input type="text"  placeholder="Model Name" class="form-control required appTextBox" required formControlName="modelName"
              #modelName/>
          </div>
          <div *ngIf="showError" class="alert alert-danger">Please enter Model Name</div>
          <div class="textContainer" >
            <input type="text"  placeholder="Model Position" class="form-control required appTextBox"  formControlName="position"
              #modelposition/>
          </div>
        </div>
        <div class="col-md-12">
          <label>Type of Category</label>
          <div class="col-sm-6 radio">
            <label  class="pr-2 " *ngFor="let shootType of shootTypes">
              <input  type="radio"    formControlName="shootType" [value]="shootType"><small>&nbsp;&nbsp;{{ shootType}}</small>
            </label>
          </div>
            <label >Type of Model</label>
            <div class="col-sm-6 radio">
                <label class="pr-2" *ngFor="let modelType of modelTypes">
                  <input type="radio" formControlName="modelType"  [value]="modelType"><small>&nbsp;&nbsp;{{modelType}}</small>
                </label>
              </div>
              <div *ngIf="showModel" class="alert alert-danger">Please select Model Type</div>
          </div>

          <label>Availability </label>
          <div class="col-sm-12 radio">
            <label class="pr-2 " *ngFor="let avail of Availability">
              <input type="radio" formControlName="available" [value]="avail">&nbsp;&nbsp;{{ avail}}
            </label>
          </div>
          <div *ngIf="showAvailability" class="alert alert-danger">Please select the availability</div>
           <div class="form-group">
          <div class="textContainer">
            <input type="text" placeholder="Model Height" class="form-control  appTextBox"  formControlName="modelHeight"
              />
          </div>
        </div> 
        <div class="form-group" >
          <div class="textContainer">
            <input type="text" placeholder="Bust" class="form-control  appTextBox"  formControlName="bust"/>
          </div>
        </div>
        <div class="form-group" >
          <div class="textContainer">
            <input type="text" placeholder="Chest" class="form-control  appTextBox"  formControlName="chest"/>
          </div>
        </div>
        <div class="form-group">
          <div class="textContainer">
            <input type="text" placeholder="Waist" class="form-control  appTextBox"  formControlName="waist"/>
          </div>
        </div>
        <div class="form-group">
          <div class="textContainer">
            <input type="text" placeholder="Hips" class="form-control  appTextBox"  formControlName="hips"/>
          </div>
        </div>
      

      <div class="form-group">
    <div class="textContainer">
      <input type="text" placeholder="Shoe Size" class="form-control  appTextBox"  formControlName="shoeSize"
        />
    </div>
    </div>
    <div class="form-group">
      <div class="textContainer">
        <input type="text" placeholder="Hair" class="form-control  appTextBox"  formControlName="hair"
          />
      </div>
      </div>
      <div class="form-group">
        <div class="textContainer">
          <input type="text" placeholder="Eyes" class="form-control  appTextBox"  formControlName="eyes"
            />
        </div>
        </div>

      <div class="form-group">
        <div class="textContainer">
          <input type="text" placeholder="Shoulder" class="form-control  appTextBox"  formControlName="shoulder"
            />
        </div>
        </div> 
        <div class="form-group">
          <div class="textContainer">
            <input type="text" placeholder="Top Size" class="form-control  appTextBox"  formControlName="topsize"
              />
          </div>
          </div>
          <div class="form-group">
            <div class="textContainer">
              <input type="text" placeholder="Bottom Size" class="form-control  appTextBox"  formControlName="bottomsize"
                />
            </div>
            </div>
  
   

        <div class="form-group">
          <div class="textContainer">
            <input type="text" placeholder="Description" class="form-control  appTextBox"  formControlName="description"
           #modelDesc />
          </div>
        </div>

        


      
    
        <div class="form-group">
          <div class="textContainer">
            <input type="text" placeholder="Mobile Number" maxlength="20" class="form-control required appTextBox" required formControlName="mobileNumber"
            #mob/>

          </div>
          <div>Ex:9988776655</div>
          <div *ngIf="addModelForm.get('mobileNumber').errors
                                   && !addModelForm.get('mobileNumber').pristine" class="alert alert-danger">
            <div [hidden]="!addModelForm.get('mobileNumber').errors.required">Please enter MobileNumber</div>
          </div>
        </div>


        <div class="form-group">
          <div class="textContainer">
            <input type="text" placeholder="Email Id" class="form-control required appTextBox" required formControlName="emailId" #email/>

          </div>
          <div *ngIf="addModelForm.get('emailId').errors
                                     && !addModelForm.get('emailId').pristine" class="alert alert-danger">
            <div [hidden]="!addModelForm.get('emailId').errors.required">Please enter Email Id</div>
          </div>
        </div>

        <div class="form-group">
          <div class="textContainer">
            <input type="text" placeholder="FaceBook" class="form-control required appTextBox" required formControlName="faceBook" #fb />

          </div>
          <div *ngIf="addModelForm.get('faceBook').errors
                                       && !addModelForm.get('faceBook').pristine" class="alert alert-danger">
            <div [hidden]="!addModelForm.get('faceBook').errors.required">Please enter FaceBook</div>
          </div>
        </div>

        <div class="form-group">
          <div class="textContainer">
            <input type="text" placeholder="WhatsApp"  maxlength="20" class="form-control required appTextBox" required formControlName="whatsapp" #wapp/>

          </div>
          <div>Ex:9988776655</div>
          <div *ngIf="addModelForm.get('whatsapp').errors
                                       && !addModelForm.get('whatsapp').pristine" class="alert alert-danger">
            <div [hidden]="!addModelForm.get('whatsapp').errors.required">Please enter WhatsApp No</div>
          </div>
        </div>


        <div *ngIf="!showUpdate">
          <input type="submit" class="btn btnPink btn-block" value="Save" (click)="save(addModelForm,modelName.value)" />
        </div>
        
        <input type="text"  placeholder="Catalog Id" hidden class="form-control required appTextBox"  formControlName="modelId"
          #id/>
        <div *ngIf="showUpdate">
          <input type="submit" class="btn btnPink btn-block" value="Update" (click)="edit(addModelForm,modelposition.value,modelName.value,modelDesc.value,id.value,
          mob.value,email.value,fb.value,wapp.value)" />
        </div>
      </div>
      <div class="col-md-3 form-group"  *ngIf="!hideImg">
        <div>
          <img [src]="this.loadedModel?.portfolioImageName"  #loadedImage style="width: 180px; height: 245px;" />
        </div>
        <div>
          <input type="file"  name="file" class="btn btnPink btn-block" id="file" multiple (change)="handleFileInput($event.target.files, loadedImage)">
        </div>
        <div *ngIf="showError2" class="alert alert-danger">Please Add Model Image</div>
         
        
      </div>
     <!--  <div class="col-md-3 form-group">
        <div>
          <img  *ngFor ="let images of multipleImages" [src]="images"  style="width: 180px; height: 245px;" />
        </div>
        <div>
          <input type='file' (change)="onSelectFile($event.target.files)" multiple>
        </div>
      </div> -->
    </div>
  </div>
</form>