<div class="container" style="padding-top:60px">
  <div class="row">
    <div class="col-md-4 col-sm-12  mx-auto text-center">
      <button mat-raised-button color="accent" [routerLink]="['/model']" value="" type="submit">Add Model <mat-icon>add</mat-icon></button>
    </div>
    <!-- <div class="col-md-6 col-sm-12  mx-auto text-center">
        <button mat-raised-button color="accent" [routerLink]="['/modelproviderapproval']" value="" type="submit">Approve model</button>
      </div> -->
  </div>
</div>

<form [formGroup]="viewModelForm" novalidate style="padding-top:60px">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>Catalog</label>
              </div>
            </div>
            <div class="col-md-2" >
              <div class="form-group">
                <label>Model Name</label>
              </div>
            </div>
            <!-- <div class="col-md-2">
              <div class="form-group">
                <label>Mobile Number</label>
              </div>
            </div>

            <div class="col-md-2 ">
              <div class="form-group">
                <label>WhatsApp No</label>
              </div>
            </div>

            <div class="col-md-2 ">
              <div class="form-group">
                <label>Facebook Id</label>
              </div>
            </div> -->


          </div>
        </div>
        <div class="container">
          <div class="row" *ngFor="let model of Models">

            <div class="col-md-4 form-group">
              <img [src]="this.model?.primeImage" style="width: 180px; height: 245px;" />
            </div>
            

            <div class="col-md-2 form-group">
              {{model.userName}}
            </div>
<!-- 
            <div class="col-md-2 form-group">
              {{model.mobileNumber}}
            </div>

            <div class="col-md-2 form-group">
              {{model.whatsapp}}
            </div>
            <div class="col-md-1 form-group">
              {{model.faceBook}}
            </div> -->
           
            <input type="text" hidden formControlName="id" [value]="model._id" #modelId/>
            <!-- <div class="col-md-1 form-group">
              <input type="button" class="btn btn-success" value="Update" (click)="update(modelId.value)" />
            </div> -->
            <div class="col-md-2 form-group">
                <button mat-raised-button color="accent"  (click)="viewProfile(modelId.value)" value="Add Images" type="submit">
                  View <mat-icon>visibility</mat-icon></button>
            </div>
            <div class="col-md-2 form-group">
                <button mat-raised-button color="accent"  (click)="addImage(modelId.value,model.userName)" value="Add Images" type="submit">
                  Images<mat-icon>add_a_photo</mat-icon></button>
            </div>
            
          <div class="col-md-2 form-group">
              <button mat-raised-button color="accent"  (click)="delete(modelId.value)" value="Delete" type="submit">
                  Delete <mat-icon>  delete sweep icon</mat-icon></button>
            
            <!-- <input type="button" class="btn btn-danger" value="Delete" (click)="delete(modelId.value)" /> -->
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>