<div class="container" style="padding-top:60px">
  <div class="row">
    <div class="col-md-6 col-sm-12  mx-auto text-center">
      <button mat-raised-button color="accent" [routerLink]="['/model']" value="" type="submit">Add Model</button>
    </div>
  </div>
</div>

<form [formGroup]="viewModelForm" novalidate style="padding-top:60px">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label>Catalog</label>
              </div>
            </div>
            <div class="col-md-1" >
              <div class="form-group">
                <label>Model Name</label>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label>Mobile Number</label>
              </div>
            </div>

            <div class="col-md-2 ">
              <div class="form-group">
                <label>WhatsApp No</label>
              </div>
            </div>

            <div class="col-md-2 ">
              <div class="form-group">
                <label>Facebook Id</label>
              </div>
            </div>


          </div>
        </div>
        <div class="container">
          <div class="row" *ngFor="let model of Models">

            <div class="col-md-3 form-group">
              <img [src]="this.model?.portfolioImageName" style="width: 180px; height: 245px;" />
            </div>

            <div class="col-md-1 form-group">
              {{model.userName}}
            </div>

            <div class="col-md-2 form-group">
              {{model.mobileNumber}}
            </div>

            <div class="col-md-2 form-group">
              {{model.whatsapp}}
            </div>
            <div class="col-md-2 form-group">
              {{model.faceBook}}
            </div>
            <input type="text" hidden formControlName="id" [value]="model._id" #modelId/>
            <div class="col-md-1 form-group">
              <input type="button" class="btn btn-success" value="Update" (click)="update(modelId.value)" />
            </div>
            <div class="col-md-1 form-group">
              <input type="button" class="btn btn-danger" value="Delete" (click)="delete(modelId.value)" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>