<mat-horizontal-stepper #stepper>
  <mat-step>
    <div>
    <ng-template matStepLabel>Select Database</ng-template>
      <ul  class="sidenav">
      <li>
          <div>
              <button (click)="getAllCustomer(); goForward(stepper)"  mat-raised-button >
                  Customer DB
              </button>
            </div>
      </li>
      <li>
          <div>
              <button  (click)="getAllMarketCustomers(); goForward(stepper)" mat-raised-button>
                Marketing DB
                </button>
            </div>
      </li>
      <li>
          <div>
              <button  (click)="getAllSubscribe(); goForward(stepper)" mat-raised-button>
                Subscribe DB
                </button>
            </div>
      </li>
    </ul>
    </div>
    <div fxLayout="row" fxLayoutAlign="end center">
      <button mat-raised-button color="accent" matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Select MobileNumber</ng-template>
    <div fxLayout="row">
      <div fxFlex="40%">
      </div>
      <div fxFlex="30%">
        <mat-form-field>
          <input matInput placeholder="Search" (keyup)='updateFilter($event)'>
        </mat-form-field>
      </div>
    </div>
    <mat-grid-list [cols]="breakpoint" rowHeight="3:0.5" (window:resize)="onResize($event)">
      <mat-grid-tile><b>Select</b></mat-grid-tile>
      <mat-grid-tile><b>Mobile Number</b></mat-grid-tile>
      <mat-grid-tile><b>Name</b></mat-grid-tile>
      <mat-grid-tile><b>Location</b></mat-grid-tile>
    </mat-grid-list>
    <mat-divider></mat-divider>
    <mat-grid-list *ngFor="let customer of customerSource; let i = index;" [cols]="breakpoint" rowHeight="3:0.5"
      (window:resize)="onResize($event)">
      <mat-grid-tile>
        <mat-checkbox (change)="getValue(pushNotificationForm, $event, customer.mobileNumber)" class="mail-checkbox">
        </mat-checkbox>
      </mat-grid-tile>
      <mat-grid-tile>{{customer.mobileNumber}}</mat-grid-tile>
      <mat-grid-tile>{{customer.name}}</mat-grid-tile>
      <mat-grid-tile>{{customer.location}}</mat-grid-tile>
    </mat-grid-list>
    <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 20, 30, 40, 50]" [showFirstLastButtons]="true"
      [length]="totalSize" [pageIndex]="currentPage" (page)="handlePage($event)">
    </mat-paginator>
    <div fxLayout="row">
        <div fxFlex="50%">
          <button mat-raised-button color="accent" matStepperPrevious>
            back
          </button>
        </div>
        <div fxFlex="50%" fxLayoutAlign="end center">
          <button mat-raised-button color="accent" matStepperNext>
            next
          </button>
        </div>
      </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Notification</ng-template>
    <form [formGroup]="pushNotificationForm" novalidate>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 text-center mx-auto">
            <h6 class="text-center text-dark">Push Notification</h6>
            <div class="form-group">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Mobile Numbers" 
                formControlName="mobileNumbers" required>
                <button mat-button matSuffix mat-icon-button aria-label="mobileNumbers">
                  <mat-icon>phone</mat-icon>
                </button>
                <mat-error *ngIf="pushNotificationForm.controls['mobileNumbers'].errors?.required">
                  Mobile No is
                  <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Title" formControlName="title" required>
                <button mat-button matSuffix mat-icon-button aria-label="title">
                  <mat-icon>remove_red_eye</mat-icon>
                </button>
                <mat-error *ngIf="pushNotificationForm.controls['title'].errors?.required">
                  Title
                  <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Notification Body" formControlName="notificationBody" required>
                <button mat-button matSuffix mat-icon-button aria-label="Notification Body">
                  <mat-icon>web</mat-icon>
                </button>
                <mat-error *ngIf="pushNotificationForm.controls['notificationBody'].errors?.required">
                  Notification Body
                  <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Image URL" formControlName="imageUrl" required>
                <button mat-button matSuffix mat-icon-button aria-label="Image URL">
                  <mat-icon>web</mat-icon>
                </button>
                <mat-error *ngIf="pushNotificationForm.controls['imageUrl'].errors?.required">
                  Image URL
                  <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Link URL" formControlName="linkUrl" required>
                <button mat-button matSuffix mat-icon-button aria-label="Link URL">
                  <mat-icon>web</mat-icon>
                </button>
                <mat-error *ngIf="pushNotificationForm.controls['linkUrl'].errors?.required">
                  Link URL
                  <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
            {{mobileNumbers}}
            <button mat-raised-button color="accent" (click)="pushNotification(pushNotificationForm)" [disabled]='!pushNotificationForm.valid'>
              <strong>Push Notification</strong>
            </button>
          </div>
        </div>
      </div>
    </form>
    <div>
      <button mat-raised-button color="accent" matStepperPrevious>Back</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>