<form  [formGroup]="marketDetailsForm"
 (ngSubmit)="marketDetailsForm.valid && addMember(marketDetailsForm)">
    <div fxLayout="row wrap" fxLayout.lt-sm="column">
     <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput formControlName="customerName" placeholder="Customer Name" required>
          <mat-error *ngIf="marketDetailsForm.controls['customerName'].errors?.required"
          required>
            Enter Customer Name
              <strong>required</strong>
            </mat-error>
      
        </mat-form-field>
    </div>
      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput formControlName="mobileNumber" placeholder="Mobile Number"
          required>
          <mat-error *ngIf="marketDetailsForm.controls['mobileNumber'].errors?.required">
            Enter Mobile Number
              <strong>required</strong>
            </mat-error>
        </mat-form-field>
      </div>
      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput formControlName="whatsAppNo" placeholder="Whasapp No"
          [required]="false">
          <mat-error *ngIf="marketDetailsForm.controls['whatsAppNo'].errors?.required">
            Enter whatsApp No
              <strong>required</strong>
            </mat-error>
        </mat-form-field>
      </div>
      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput formControlName="landLine" placeholder="Landline"
          [required]="false">
          <mat-error *ngIf="marketDetailsForm.controls['landLine'].errors?.required">
            Enter Land Line No
              <strong>required</strong>
            </mat-error>
        </mat-form-field>
        
      </div>
      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput formControlName="email" placeholder="Email"
          [required]="false">
          <mat-error *ngIf="marketDetailsForm.controls['email'].errors?.required">
            Enter email address
              <strong>required</strong>
            </mat-error>
        </mat-form-field>
       
      </div>
      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput  
          placeholder="Location"
           formControlName="location"
           [required]="false">
           <mat-error *ngIf="marketDetailsForm.controls['location'].errors?.required">
            Enter Location
              <strong>required</strong>
            </mat-error>
        </mat-form-field>
      </div>
      <div fxFlex="100" class="mt-1">
        <button mat-raised-button color="primary">Save</button>
        <span fxFlex></span>
        <button mat-raised-button mat-button color="warn" type="button"
         (click)="cancel()">Cancel</button>
      </div>
    </div>
  </form>