<form [formGroup]="marketDetailsForm">
  <div fxLayoutAlign="center center" style="padding-top: 10px">
    <div class="textHeader p-3">
      <h4>MARKET CUSTOMER DETAILS</h4>
    </div>
  </div>
  <div class="container">
    <div fxLayout="row">
        <div fxFlex="20%">
            <div class="text-center">
                <h5>Total Customer</h5>
                <button mat-mini-fab color="primary">
                  {{newCustomer.length}}
                </button>
              </div>
          </div>
      <div fxFlex="30%">
        <div class="text-center">
          <h5>Add Customer</h5>
          <button mat-mini-fab color="primary" (click)="addMarketCustomer(marketDetailsForm, true)">
            <mat-icon>add_box</mat-icon>
          </button>
        </div>
      </div>
      <div fxFlex="25%">
        <div>
            <h5>All customer</h5>
          <button mat-raised-button color="primary" (click)="getMarketAllCustomer()">All
            Customer</button>
        </div>
      </div>
      <div fxFlex="25%">
          <h5>Duplicate Customer</h5>
        <div>
          <button mat-raised-button color="primary" (click)="duplicateMarketCustomerData()">
            Duplicate Customer</button>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="row">
    <div fxFlex="40%">
    </div>
    <div fxFlex="30%">
      <mat-form-field>
        <input matInput placeholder="Search" (keyup)='updateFilter($event)'>
      </mat-form-field>
    </div>
    <div fxFlex="20%">
      <div class="p-2" fxLayoutAlign="end center">
        <select (change)="onLimitChange($event.target.value)">
          <option *ngFor="let option of pageLimitOptions" [value]="option.value" [selected]="option.value == currentPageLimit">
            {{ option.value }} per page
          </option>
        </select>
      </div>
    </div>
  </div>
  <div>

    <ngx-datatable #myTable class="material pl-5 ml-0 mr-0" [rows]="marketCustomer" [columnMode]="'force'"
      [externalPaging]="false" (select)="onSelect($event)" [headerHeight]="50" [footerHeight]="50" [draggable]="false"
      [limit]="10" [rowHeight]="'auto'">
      <ngx-datatable-column [sortable]="false" [draggable]="false" name="CUSTOMER NAME" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row?.customerName}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [sortable]="false" [draggable]="false" name="MOBILE NUMBER" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row?.mobileNumber}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [sortable]="false" [draggable]="false" name="LOCATION" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row?.location}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [sortable]="false" [draggable]="false" name="EMAIL" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row?.email}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [sortable]="false" [draggable]="false" name="EDIT" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <button mat-icon-button mat-sm-button color="primary" (click)="editDialogMarketCustomer(marketDetailsForm, row)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button mat-sm-button color="accent" (click)="deleteMarketCustomer(marketDetailsForm, row)">
            <mat-icon>delete</mat-icon>
          </button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</form>