.mat-form-field {
    display: block;
    position: relative;
    text-align: left;
  }
  .mat-form-field-appearance-legacy .mat-hint
{
  color: red;
}

.subscribeMasterDiv {
  width: 80%;
  background: white;
  padding-bottom: 30px;
  padding-top: 30px;
  margin: auto;
  margin-bottom:10px;
  position: relative;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.subscribeDiv
 {
  width: 80%;
  background: white;
  color: #777;
  padding-bottom: 33px;
  padding-top: 33px;
  margin: auto;
  position: relative;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
