<form [formGroup]="viewDigitalMgmtDetailsForm" style="padding-top:60px" novalidate>
        <div>
          <button mat-icon-button (click)="cancel()">
            <mat-icon color="primary">clear</mat-icon>
          </button>
        </div>
        <div class="container-fluid">
          <div class="row" style="margin-left: 30px;">
            <h1>  Booking Details</h1>
      
            <div class="col-md-12 form-group">
              <div class="row">
                <div class="col-md-6">
                  <div class="row">
      
                    <div class="col-md-4 form-group">
                      <p><b>Booking Order ID</b></p>
                    </div>
      
                    <div class="col-md-4 form-group">
                      <p><b>B2C National</b></p>
                    </div>
                    <div class="col-md-4 form-group">
                      <p><b>B2C InterNational</b></p>
                    </div>
                  </div>
      
                </div>
                <div class="col-md-6">
                  <div class="row">
                      <div class="col-md-3 form-group">
                          <p><b>B2B National</b></p>
                        </div>
                      <div class="col-md-3 form-group">
                          <p><b>B2B InterNational</b></p>
                        </div>
                    <div class="col-md-3 form-group">
                      <p><b>Social Media</b></p>
                    </div>
                    <div class="col-md-3 form-group">
                            <p><b>Website</b></p>
                          </div>
                    
      
                  </div>
      
                </div>
               
      
      
                <div class="col-md-6  form-group">
                  <div class="row" *ngFor="let data of DigitalModel">
      
                    <div class="col-md-4 form-group">
                      <p>{{data.bookingOrderId}} </p>
                    </div>
      
                    <div class="col-md-4 form-group">
                      <p>{{data.b2cNational}} </p>
                    </div>
      
                    <div class="col-md-4 form-group">
                      <p>{{data.b2cInterNational}} </p>
                    </div>
                   
      
      
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="row"  *ngFor="let data of DigitalModel">
      
                      <div class="col-md-3 form-group">
                          <p>{{data.b2bNational}} </p>
                        </div>
                    <div class="col-md-3 form-group">
                      <p>{{data.b2bInterNational}} </p>
                    </div>
                    
                    <div class="col-md-3 form-group">
                      <p>{{data.socialMedia}} </p>
                    </div>
                    <div class="col-md-3 form-group">
                            <p>{{data.website}} </p>
                          </div>
      
                  </div>
      
                </div>
                
              </div>
            </div>