<form [formGroup]="viewProfileForm" novalidate style="padding-top:60px">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link"><button mat-button (click)="profileImage()">Profile </button></a>
          </li>
          <li class="nav-item">
            <a class="nav-link"><button mat-button (click)="ecommerceImage()">Ecommerce</button></a>
          </li>
          <!--  <li class="nav-item">
            <a class="nav-link"><button mat-button (click)="portraitImage()">Portrait</button></a>
          </li>-->
          <li class="nav-item">
            <a class="nav-link"><button mat-button (click)="productImage()">Product</button></a>
          </li>
          <li class="nav-item">
            <a class="nav-link"><button mat-button (click)="portFolioImage()">PortFolio</button></a>
          </li>
          <li class="nav-item">
            <a class="nav-link">
              <button mat-button (click)="allImages()">All</button></a>
          </li>
          <li class="nav-item">
            <a class="nav-link">
              <button mat-button (click)="changePrimeImage()">Change Prime Image</button></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row" *ngIf="showAll">
      <div class="col-md-8 mx-auto">

        <div class="container">
          <div class="row" *ngFor="let model of Model">

            <div class="col-md-3 form-group">
              <img [src]="this.model?.primeImage" style="width: 180px; height: 245px;" />
            </div>

            <div class="col-md-3 form-group" *ngFor="let images of this.model?.ecommerceImageName">
              <img [src]="this.images" style="width: 180px; height: 245px;" />
            </div>

            <div class="col-md-3 form-group" *ngFor="let images of this.model?.productImageName">

              <img [src]="this.images" style="width: 180px; height: 245px;" />
            </div>

            <div class="col-md-3 form-group" *ngFor="let images of this.model?.portraitImageName">

              <img [src]="this.images" style="width: 180px; height: 245px;" />
            </div>
            <div class="col-md-3 form-group" *ngFor="let images of this.model?.portFolioImageName">

              <img [src]="this.images" style="width: 180px; height: 245px;" />
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="showEcommerce">
      <div class="col-md-8 mx-auto">

        <div class="container">
          <div class="row" *ngFor="let model of Model">

            <!--  <p *ngFor="let names of this.model?.ecommerceImages">
                  {{ecommerceImages}}
              </p>   -->
            <div class="col-md-3 form-group" *ngFor="let images of this.model?.ecommerceImageName">

              <input type="textbox" hidden [value]="this.images" formControlName="ecomImgId" #ecomID>
              <button matTooltip="Do you want to delete" (click)="deleteEcomImage(ecomID.value, model.userName)"
                mat-button matSuffix mat-icon-button>
                <mat-icon>clear</mat-icon>
              </button>
              <img [src]="this.images" style="width: 180px; height: 245px;" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="changePrime">
      <div class="col-md-3 mx-auto">

                <img  #loadedImage style="width: 180px; height: 245px;" />
                <input type="file"  name="file" class="btn btnPink btn-block" id="file" multiple (change)="handleFileInput($event.target.files, loadedImage)">
                <button  (click)="changePrimeImages()"
                mat-button color="primary" >
              Change Prime Image
              </button>
              </div>

    </div>
    <div class="row" *ngIf="showProduct">
      <div class="col-md-8 mx-auto">

        <div class="container">
          <div class="row" *ngFor="let model of Model">

            <div class="col-md-3 form-group" *ngFor="let images of this.model?.productImageName">
              <input type="textbox" hidden [value]="this.images" formControlName="prodImgId" #proID>
             <!--  {{this.images | slice:-15}} -->
              <button matTooltip="Do you want to delete" (click)="deleteProdImage(proID.value, model.userName)"
                mat-button matSuffix mat-icon-button>
                <mat-icon>clear</mat-icon>
              </button>

              <img [src]="this.images" style="width: 180px; height: 245px;" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--  <div class="row" *ngIf="showPortrait">
      <div class="col-md-8 mx-auto">

        <div class="container">
          <div class="row" *ngFor="let model of Model">

            <div class="col-md-3 form-group" *ngFor="let images of this.model?.portraitImageName">
              <input type="textbox" hidden [value]="this.images" formControlName="porImgId" #portID>
              <button (click)="deletePortImage(portID.value)" mat-button matSuffix mat-icon-button>
                <mat-icon>clear</mat-icon>
              </button>
              <img [src]="this.images" style="width: 180px; height: 245px;" />
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <div class="row" *ngIf="showPortFolio">
      <div class="col-md-8 mx-auto">

        <div class="container">
          <div class="row" *ngFor="let model of Model">

            <div class="col-md-3 form-group" *ngFor="let images of this.model?.portFolioImageName">
              <input type="textbox" hidden [value]="this.images" formControlName="porImgId" #portFolioID>
            <!--   {{this.images | slice:-15}} -->
              <button (click)="deletePortFolioImage(portFolioID.value, model.userName)" mat-button matSuffix
                mat-icon-button>
                <mat-icon>clear</mat-icon>
              </button>
              <img [src]="this.images" style="width: 180px; height: 245px;" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="showProfile">
      <div class="col-md-8 mx-auto">
        <div class="container">
          <div class="row" *ngFor="let model of Model">
            <div class="col-md-3 form-group">
              <img [src]="this.model?.primeImage" style="width: 180px; height: 245px;" />
              <button (click)="update(modelId.value)" matTooltip="Do you change the image" mat-stroked-button matSuffix>
                <mat-icon>camera_alt</mat-icon>
              </button>
            </div>
            <div class="col-md-9 form-group">
              <div class="col-md-12 form-group">

                <label>Username</label>

                {{model.userName}}

              </div>
              <div class="col-md-12 form-group">

                <label>Mobile Number</label>

                {{model.mobileNumber}}

              </div>
              <div class="col-md-12 form-group">

                <label>WhatsApp</label>

                {{model.whatsapp}}

              </div>
              <div class="col-md-12 form-group">

                <label>Facebook</label>

                {{model.faceBook}}

              </div>
              <div class="col-md-12 form-group">

                <label>Scheduled Date:</label>

                {{model.scheduledDate}}

              </div>

              <input type="text" hidden formControlName="id" [value]="model._id" #modelId />
              <div class="col-md-12 form-group">


                <button (click)="update(modelId.value)" mat-stroked-button matSuffix>
                  <mat-icon>edit</mat-icon>Edit Profile
                </button>


              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</form>