<form  [formGroup]="customerDetailsForm"
 (ngSubmit)="customerDetailsForm.valid && addMember(customerDetailsForm)">
    <div fxLayout="row wrap" fxLayout.lt-sm="column">
      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput formControlName="mobileNumber" placeholder="Mobile Number" required>
          <mat-error *ngIf="customerDetailsForm.controls['mobileNumber'].errors?.required"
          required>
            Enter Mobile Number
              <strong>required</strong>
            </mat-error>
      
        </mat-form-field>
    </div>  
      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput formControlName="name" placeholder="Name"
          required>
          <mat-error *ngIf="customerDetailsForm.controls['name'].errors?.required">
            Enter Name
              <strong>required</strong>
            </mat-error>
        </mat-form-field>
      </div>
      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput formControlName="emailId" placeholder="Email "
          [required]="false">
          <mat-error *ngIf="customerDetailsForm.controls['emailId'].errors?.required">
            Enter Email ID
              <strong>required</strong>
            </mat-error>
        </mat-form-field>
      </div>
      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput formControlName="location" placeholder="location"
          [required]="false">
          <mat-error *ngIf="customerDetailsForm.controls['location'].errors?.required">
            Enter Land Line No
              <strong>required</strong>
            </mat-error>
        </mat-form-field>
        
      </div>
      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput formControlName="bookingType" placeholder="bookingType"
          [required]="false">
          <mat-error *ngIf="customerDetailsForm.controls['bookingType'].errors?.required">
            Enter Booking Type
              <strong>required</strong>
            </mat-error>
        </mat-form-field>
       
      </div>
      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput  
          placeholder="ShootType"
           formControlName="shootType"
           [required]="false">
           <mat-error *ngIf="customerDetailsForm.controls['shootType'].errors?.required">
            Enter Shoot Type
              <strong>required</strong>
            </mat-error>
        </mat-form-field>
      </div>
      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput formControlName="modelType" placeholder="Model Type"
          [required]="false">
       
       <mat-error *ngIf="customerDetailsForm.controls['modelType'].errors?.required">
            Enter Model Type
              <strong>required</strong>
            </mat-error>
        </mat-form-field>
      </div>
      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput formControlName="product" placeholder="Product"
          [required]="false">
          <mat-error *ngIf="customerDetailsForm.controls['product'].errors?.required">
            Enter Product
              <strong>required</strong>
            </mat-error>
        </mat-form-field>
      </div>
      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput formControlName="companyAddress" placeholder="Company Address"
          [required]="false">
          <mat-error *ngIf="customerDetailsForm.controls['companyAddress'].errors?.required">
            Enter Company Address
              <strong>required</strong>
            </mat-error>
        </mat-form-field>
      </div>
      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput formControlName="gstNumber" placeholder="Gst Number"
          [required]="false">
          <mat-error *ngIf="customerDetailsForm.controls['gstNumber'].errors?.required">
            Enter GST Number
              <strong>required</strong>
            </mat-error>
        </mat-form-field>
      </div>
      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput formControlName="customerGrade" placeholder="Customer Grade"
          [required]="false">
         <mat-error *ngIf="customerDetailsForm.controls['customerGrade'].errors?.required">
            Enter Customer Name
              <strong>required</strong>
            </mat-error>
        </mat-form-field>
      </div>
      <div fxFlex="50" class="pr-1">
            <mat-form-field class="full-width">
              <input matInput formControlName="brandName" placeholder="Brand Name"
              [required]="false">
             <mat-error *ngIf="customerDetailsForm.controls['brandName'].errors?.required">
                Enter Customer Name
                  <strong>required</strong>
                </mat-error>
            </mat-form-field>
          </div>
      <div fxFlex="100" class="mt-1">
        <button mat-raised-button color="primary">Save</button>
        <span fxFlex></span>
        <button mat-raised-button mat-button color="warn" type="button" (click)="cancel()">Cancel</button>
      </div>
    </div>
  </form>
  