<form [formGroup]="customerDetailsForm" (ngSubmit)="update(customerDetailsForm, data)">
  <div fxLayout="row wrap" fxLayout.lt-sm="column">
    <div fxFlex="50" class="pr-1">
      <mat-form-field class="full-width">
        <input matInput formControlName="mobileNumber" [ngModel]="data.mobileNumber" (ngModelChange)="data.mobileNumber=$event"
          placeholder="Mobile Number" required>
      </mat-form-field>
    </div>
    <div fxFlex="50" class="pr-1">
      <mat-form-field class="full-width">
        <input matInput formControlName="name" [ngModel]="data.name" (ngModelChange)="data.name=$event" placeholder="Name"
          required>
      </mat-form-field>
    </div>
    <div fxFlex="50" class="pr-1">
      <mat-form-field class="full-width">
        <input matInput formControlName="emailId" [ngModel]="data.emailId" (ngModelChange)="data.emailId=$event"
          placeholder="Email Id" required>
      </mat-form-field>
    </div>
    <div fxFlex="50" class="pr-1">
      <mat-form-field class="full-width">
        <input matInput formControlName="location" placeholder="location" [ngModel]="data.location" (ngModelChange)="data.location=$event"
          required>
      </mat-form-field>
    </div>
    <div fxFlex="50" class="pr-1">
      <mat-form-field class="full-width">
        <input matInput formControlName="bookingType" [ngModel]="data.bookingType" (ngModelChange)="data.bookingType=$event"
          name="bookingType" placeholder="Booking Type">
      </mat-form-field>
    </div>
    <div fxFlex="50" class="pr-1">
      <mat-form-field class="full-width">
        <input matInput formControlName="shootType" [ngModel]="data.shootType" (ngModelChange)="data.shootType=$event"
          placeholder="Shoot Type" required>
      </mat-form-field>
    </div>
    <div fxFlex="50" class="pr-1">
      <mat-form-field class="full-width">
        <input matInput formControlName="modelType" [ngModel]="data.modelType" (ngModelChange)="data.modelType=$event"
          placeholder="Model Type" required>
      </mat-form-field>
    </div>
    <div fxFlex="50" class="pr-1">
      <mat-form-field class="full-width">
        <input matInput formControlName="product" [ngModel]="data.product" (ngModelChange)="data.product=$event"
          placeholder="Product" required>
      </mat-form-field>
    </div>
    <div fxFlex="50" class="pr-1">
      <mat-form-field class="full-width">
        <input matInput formControlName="companyAddress" [ngModel]="data.companyAddress" (ngModelChange)="data.companyAddress=$event"
          placeholder="Company Address" required>
      </mat-form-field>
    </div>
    <div fxFlex="50" class="pr-1">
      <mat-form-field class="full-width">
        <input matInput formControlName="gstNumber" [ngModel]="data.gstNumber" (ngModelChange)="data.gstNumber=$event"
          placeholder="Gst Number" required>
      </mat-form-field>
    </div>
    <div fxFlex="50" class="pr-1">
      <mat-form-field class="full-width">
        <input matInput formControlName="customerGrade" [ngModel]="data.customerGrade" (ngModelChange)="data.customerGrade=$event"
          placeholder="Customer Grade" required>
      </mat-form-field>
    </div>
    <div fxFlex="50" class="pr-1">
      <mat-form-field class="full-width">
        <input matInput formControlName="brandName" [ngModel]="data.brandName" (ngModelChange)="data.brandName=$event"
          placeholder="Brand Name" required>
      </mat-form-field>
    </div>
    <div fxFlex="100" class="mt-1">
      <button mat-raised-button color="primary">Save</button>
      <span fxFlex></span>
      <button mat-raised-button mat-button color="warn" type="button" (click)="cancel()">Cancel</button>
    </div>

  </div>
</form>